@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Deutschlander ";
  src: url(assets/fonts/Deutschlander.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
}
.hero-section h1 {
  font-family: "Deutschlander ";
  font-size: 10rem;
  position: fixed;
  top: 10%;
}

.fancy-menu {
  position: fixed;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  padding: 10px 40px;
  color: #fff;
  background-color: transparent;
  z-index: 999;
}
.fancy-menu::before {
  content: '';
  position: absolute;
  top: 0px; /* Adjust to position the line directly above the menu */
  left: 50%;
  transform: translateX(-50%) translateY(200%); /* Center the line above the menu */
  width: 71%; /* Length of the line */
  height: 0.5px; /* Thickness of the line */
  background-color: gray;
}

.fancy-menu .line-1 {
  position: absolute;
  border-top: 0.5px solid gray;
  top: 50%;
  width: 100vw;
  left: -100vw;
}
.line-1::after {
  content: '';
  position: absolute;
  right: 0; /* Align it to the right end of the line */
  top: 50%;
  width: 30px; /* Width of the small line */
  height: 0.5px; /* Height of the small line */
  background-color: gray; /* Color of the small line */
  transform: rotate(-45deg) translateY(-100%) translateX(100%); /* Center it vertically and shift to the right */
  transform-origin: 100% 100%;
}


.line-2 {
  position: absolute;
  border-top: 0.5px solid gray;
  top: 50%;
  width: 100vw;
  right: -100vw;
}
.line-2::after {
  content: '';
  position: absolute;
  left: 0; /* Align it to the left end of the line */
  top: 50%;
  width: 30px; /* Width of the small line */
  height: 0.5px; /* Height of the small line */
  background-color: gray; /* Color of the small line */
  transform: rotate(45deg) translateY(-100%) translateX(-100%); /* Rotate and position to connect to the left */
  transform-origin: 1% 100%; /* Set the origin for rotation to the left end */
}

.menu-icon {
  margin-right: 10px;
}

.fade-effect {
  position: fixed;
  bottom: 0;
  height: 14vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.689),rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.frame-left {
  height: 95vh;
  width: 2px;
  background-color: gray;
  left: 1rem;
  position: fixed;
  margin: auto;
}
.frame-right {
  height: 95vh;
  width: 2px;
  background-color: gray;
  right: 1rem;
  position: fixed;
  margin: auto;
}

.frame-top {
  position: fixed;
  top: 1rem;
}
.top-line-1 {
  position: absolute;
  border-top: 0.5px solid white;
  width: 100vw;
  right: 30vw;
}
.top-line-2 {
  position: absolute;
  border-top: 0.5px solid white;
  width: 100vw;
  left: 30vw;
}