@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dimentions";
  src: url(assets/fonts/Dimensions300.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RmNeue";
  src: url("assets/fonts/RMNeueTRIAL-Regular.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplayBold";
  src: url("../fonts/HelveticaNowDisplayBold.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gridular";
  src: url("assets/fonts/Gridular-Regular.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

iframe[src*="vercel"] {
  display: none !important;
}

/* .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
} */
/*section h1 {
  font-family: "Dimentions";
  font-size: 10rem;
  top: 10%;
}*/

#home h1 {
  font-family: Dimentions;
}
#home p {
  font-family: RmNeue;
}
#home p span {
  font-family: Gridular;
}

.fancy-menu {
  position: fixed;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  padding: 10px 27px;
  color: #fff;
  background-color: transparent;
  z-index: 999;
  margin-bottom: 5px;
}
.fancy-menu::before {
  content: "";
  position: absolute;
  top: 3px; /* Adjust to position the line directly above the menu */
  left: 50%;
  transform: translateX(-50%) translateY(200%); /* Center the line above the menu */
  width: 66%; /* Length of the line */
  height: 0.5px; /* Thickness of the line */
  background-color: #474747;
}

.line-1 {
  position: absolute;
  border-top: 0.5px solid #474747;
  top: 65%;
  width: 100vw;
  left: -100vw;
}
.line-1::after {
  content: "";
  position: absolute;
  right: 0; /* Align it to the right end of the line */
  top: 50%;
  width: 34px; /* Width of the small line */
  height: 0.5px; /* Height of the small line */
  background-color: #474747; /* Color of the small line */
  transform: rotate(-45deg) translateY(-200%) translateX(103%);
  transform-origin: 100% 100%;
}

.line-2 {
  position: absolute;
  border-top: 0.5px solid #474747;
  top: 65%;
  width: 100vw;
  right: -100vw;
}
.line-2::after {
  content: "";
  position: absolute;
  left: 0; /* Align it to the left end of the line */
  top: 50%;
  width: 34.5px; /* Width of the small line */
  height: 0.5px; /* Height of the small line */
  background-color: #474747; /* Color of the small line */
  transform: rotate(45deg) translateY(-100%) translateX(-100%); /* Rotate and position to connect to the left */
  transform-origin: 1% 100%; /* Set the origin for rotation to the left end */
}

.menu-icon {
  margin-right: 10px;
}

.fade-effect {
  position: fixed;
  bottom: 0;
  height: 10vh;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(0, 0, 0, 0.295),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.frame-top {
  position: fixed;
  top: 1rem;
  width: 100vw;
}
.top-line-1 {
  position: absolute;
  border-top: 0.5px solid white;
  width: 40vw;
  left: 0;
}
.top-line-2 {
  position: absolute;
  border-top: 0.5px solid white;
  width: 40vw;
  right: 0;
}

/* MENU */

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 42px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  background: white;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(30deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-30deg);
}

/* src/components/Header.css */
.navbar {
  display: flex;
  justify-content: center; /* Center the navbar content */
  padding: 10px 0; /* Padding around the navbar */
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top of the page */
  z-index: 1000; /* Ensure it stays on top of other content */
  left: 0;
  right: 0;
  width: 350px;
  margin: 0 auto;
}

.nav-container::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.5px; /* Position the line just below the navbar */
  left: 0;
  right: 0;
  height: 0.5px; /* Thickness of the line */
  background-color: #474747; /* Line color */
  width: 307px; /* Make the line span the full width */
  margin: 0 auto;
}

.navbar ul {
  list-style: none; /* Remove bullet points */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox to arrange items horizontally */
}

.navbar a {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove underline */
  padding: 8px 16px; /* Padding around links */
  border-radius: 4px; /* Rounded corners */
}

.nav-line-2 {
  position: absolute;
  border-top: 0.5px solid #474747;
  top: 50%;
  width: 100vw;
  right: -100vw;
}
.nav-line-2::after {
  content: "";
  position: absolute;
  left: 0; /* Align it to the left end of the line */
  top: 50%;
  width: 30px; /* Width of the small line */
  height: 0.5px; /* Height of the small line */
  background-color: #474747; /* Color of the small line */
  transform: rotate(-45deg) translateY(-100%) translateX(-100%); /* Rotate and position to connect to the left */
  transform-origin: 1% 100%; /* Set the origin for rotation to the left end */
}

.nav-line-1 {
  position: absolute;
  border-top: 0.5px solid #474747;
  top: 50%;
  width: 100vw;
  left: -100vw;
}
.nav-line-1::after {
  content: "";
  position: absolute;
  right: 0; /* Align it to the right end of the line */
  top: 50%;
  width: 30px; /* Width of the small line */
  height: 0.5px; /* Height of the small line */
  background-color: #474747; /* Color of the small line */
  transform: rotate(45deg) translateY(-100%) translateX(100%); /* Center it vertically and shift to the right */
  transform-origin: 100% 100%;
}

/* Framer motion */

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0f0f0f;
  transform-origin: top;
}

/* Animated Pulse shadow */

@keyframes pulse-shadow {
  0%,
  100% {
    box-shadow: inset 0 0 15px 5px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: inset 0 0 25px 10px rgba(255, 255, 255, 0.5);
  }
}

@keyframes pulse-shadow {
  0%,
  100% {
    box-shadow: inset 0 0 15px 5px rgba(255, 255, 255, 0.3);
  }
  /* 50% {
    box-shadow: inset 0 0 25px 10px rgba(255, 255, 255, 0.5);
  } */
}

@keyframes hover-shadow {
  0%,
  100% {
    box-shadow: inset 0 0 15px 5px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: inset 0 0 30px 15px rgba(255, 255, 255, 0.7);
  }
}

.pulse-shadow {
  animation: pulse-shadow 2s infinite ease-in-out;
  transition: box-shadow 0.5s ease; /* Optional transition for smoothness */
}

.pulse-shadow:hover {
  animation: hover-shadow 1s forwards; /* Use the new hover animation */
}

.project {
  display: flex;
  outline: 1px solid red;
}

.left {
  width: 50%;
}

.detailsWrapper {
  margin: auto;
  width: 80%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  outline: 1px solid purple;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photos {
  width: 40vw;
  height: 40vw;
  background: maroon;
}

/* GSAP mouse hover */

.cursor,
.hand {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s;
}

.cursor {
  background: white;
  top: 0;
  width: 10px;
  height: 10px;
  z-index: 999;
}

.hand {
  background-color: white;
  top: 50%;
  width: 117px;
  height: 28px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  transform: rotate(45deg);
  opacity: 0;
  font-family: Gridular;
}
